<div class="text-container">
  <mat-tab-group>
    <mat-tab label="1">
      <h4><b> O que são os dados de ranking</b></h4>
      <br>
      <p>
        <span > <img src="assets/pena.png" width="22px"></span>
        <b> As bolinhas mais leves</b>
      </p>
      <br>
      <p>
        As bolinhas mais leves são que menos caem
      </p>
    </mat-tab>

    <mat-tab label="5">
      <p>
        <span > <img src="assets/peso.png" width="22px"></span>
        <b> As bolinhas mais pesadas</b>
      </p>
      <p>São geralmente as bolinhas com um índice maior de incidência
      </p>
    </mat-tab>

    <mat-tab label="2">
      <p>
        <i class="fa-solid fa-person-walking-arrow-loop-left fa-lg"></i>
        <b> Os Recorrentes</b>
      </p>
      <p>
        Os números reincidentes são números que insistem em cair, ou seja diferente dos que mais caem,
        os reincidentes são mostrados quantas ocorrências seguidas por um intervalo, porém diferente dos que mais caem,
        embora serão mostrados nos gráficos dos que mais caem, neste gráfico mostra quantas vezes estão caindo em relação ao concurso atual
      </p>
    </mat-tab>

    <mat-tab label="3">
      <b>Amostragem de dados</b>
      <p></p>
      <i class="fa-solid fa-chart-column"></i>
      <b> Padrão</b>
      <p>
        <br>
        Nos exemplos de código fornecidos, a referência a
        "dados originais" se relaciona
        aos valores iniciais dos conjuntos de dados que são utilizados para criar o gráfico.
      </p>
      <i class="fa-solid fa-chart-gantt fa-flip-horizontal"></i><b> Ordenar</b>
      <p>
        <br>
        Reorganizando os dados no gráfico com base no critério especificado (do menor para o maior).
        Os dados são ordenados com base nos valores do conjunto de dados em ordem crescente.
      </p>
      <span class="material-icons">query_stats </span><b> Média</b>
      <p>
        <br>
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
        A média é uma medida estatística que representa o valor típico
        ou central de um conjunto de números. Ela é calculada somando
        todos os valores e dividindo o resultado pelo número total de elementos no conjunto.
        A média fornece uma representação equilibrada do conjunto de dados, tornando-a uma medida útil para resumir
        e comparar conjuntos numéricos.
      </p>
    </mat-tab>

    <mat-tab label="4">
      <i class="fa-solid fa-arrow-trend-up"></i><b> Linha de tendência</b>
      <p>
        <br>
        Uma linha de tendência é uma representação gráfica
        que visa mostrar a direção geral em que os dados de um conjunto estão se movendo.
        Ela é frequentemente utilizada em gráficos para destacar padrões,
        tendências ou relações em dados ao longo do tempo. Uma linha de tendência pode ser linear,
        exponencial,
        polinomial,
        entre outros tipos, dependendo da natureza dos dados e do comportamento esperado.
      </p>
 
    </mat-tab>
  </mat-tab-group>
</div>
