<div class="container-fluid">
      <div class="row">        
          <fieldset>
            <button mat-button > <span> <img src="assets/matrix.png" width="22px"></span> </button>
            <button mat-button ><span> <img src="assets/correlation.png" width="22px"></span></button>
            <button mat-button ><span> <img src="assets/logistic-regression.png" width="22px"></span> </button>
            <button mat-button > <span> <img src="assets/configuracoes.png" width="22px"></span></button>
          </fieldset>      
        </div>
        <div class="row">
        <!-- <fieldset class="left-fieldset"> -->
          <div class="center-Table">
            <table>
              <thead></thead>
              <tbody>
              <tbody>
                <ng-container *ngFor="let rowNumber of indexRow.reverse(); let rowIndex = index">
                  <tr>
                    <th style="font-weight: bold;">
                      {{ rowNumber }}
                    </th>
                    <ng-container *ngFor="let cellNumber of cells[rowIndex]; let cellIndex = index">
                      <td [ngStyle]="{'background-color': getCellColor(cellNumber)}">
                        {{ cellNumber }}
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <ng-container *ngFor="let header of headers; let i = index">
                    <th style="font-weight: bold; ">
                      {{ header }}
                    </th>
                  </ng-container>
                </tr>
              </tfoot>
            </table>
          </div>
          <fieldset>
            <button mat-button><i>Media : {{ media }}</i></button>
            <button mat-button><i>Minimo : {{ min }}</i></button>
            <button mat-button><i>Maximo :{{ max }}</i></button>
          </fieldset>
        <!-- </fieldset> -->
      </div>
   


    <div class="col">
      <!-- <fieldset class="right-fieldset">       -->
       
        <app-explanation-correlations></app-explanation-correlations>
        
      <!-- </fieldset> -->
    </div>
  </div>
