<div class="container-fluid">
  <div class="row ">

    <fieldset>
      <button mat-button (click)="updateDataSourceBasedOnEvent('base')"><span> <img src="assets/ver-lista.png"   width="35px"></span> </button>
      <button mat-button (click)="updateDataSourceBasedOnEvent('light')"><span> <img src="assets/pena.png"        width="35px"></span> </button>
      <button mat-button (click)="updateDataSourceBasedOnEvent('heavy')"> <span> <img src="assets/peso.png"         width="35px"></span></button>
      <button mat-button (click)="updateDataSourceBasedOnEvent('repeated')"><span><img src="assets/atrasado.png"           width="35px"></span></button>
      <button mat-button (click)="toggleOutliers()"><span><img src="assets/data-out.png" width="35px"></span></button>
      <button mat-button (click)="toggleMedia()"><span><img src="assets/arithmetic-mean.png"       width="35px"></span></button>
      <button mat-button (click)="toggleTendenciaExponencial()"><span><img src="assets/grafico.png"           width="35px"></span></button>
      <button mat-button (click)="toggleTendenciaArithmetic()"><span><img src="assets/crescimento.png"       width="35px"></span></button>
      <button mat-button (click)="toggleTendenciaLogarithm()"><span><img src="assets/outlier.png"       width="35px"></span></button>
    </fieldset>

    <fieldset class="left-fieldset">
      <div class="chart-container">
        <canvas id="canvas" width="600px" height="400px">{{chartRanking}}</canvas>
      </div>
      <div class="fieldset-container">
        <fieldset class="fieldset-inline">
          <button mat-button (click)="toggleOrdenado()"><span><img src="assets/ordenar.png"
                width="35px"></span></button>
          <button mat-button data-bs-toggle="modal" data-bs-target="#exampleModal"><span> <img
                src="assets/configuracoes.png" width="35px"></span> </button>
        </fieldset>
      </div>
    </fieldset>

    <fieldset class="right-fieldset">
      <div class="text-container">
        <app-explanation-rankings></app-explanation-rankings>
      </div>

    </fieldset>
  </div>
</div>

