<div class="container-fluid">
  <div class="row ">
    <nav class="side-nav ">
      <fieldset>
        <fieldset>
          <button mat-button (click)="updateDataSourceBasedOnEvent('base')"><span> <img src="assets/ver-lista.png" width="22px"></span> </button>
        <button mat-button (click)="updateDataSourceBasedOnEvent('light')"><span> <img src="assets/pena.png" width="22px"></span> </button>
        <button mat-button (click)="updateDataSourceBasedOnEvent('heavy')"> <span> <img src="assets/peso.png" width="22px"></span></button>
        <button mat-button (click)="updateDataSourceBasedOnEvent('repeated')"><p><i class="fa-solid fa-person-walking-arrow-loop-left fa-lg"></i></p> </button>
      </fieldset>

      </fieldset>
    </nav>
    <fieldset class="left-fieldset">
      <div class="chart-container">
        <canvas id="canvas" width="700px" height="600px">{{chart}}</canvas>
      </div>
      <div class="fieldset-container">

        <fieldset class="fieldset-inline">

        <fieldset class="fieldset-inline">
          <button mat-button (click)="toggleOrdenado()"><i><img src="assets/ordenar.png" width="18px"></i></button>
        </fieldset>

        <fieldset class="fieldset-inline">
          <button mat-button (click)="toggleOutliers()"><i><img src="assets/data-out.png" width="18px"></i></button>
        </fieldset>

        <fieldset class="fieldset-inline">
          <button mat-button (click)="toggleMedia()"><i><img src="assets/arithmetic-mean.png" width="20px"></i></button>
          <button mat-button (click)="toggleMedia()"><i><img src="assets/mendelevio.png" width="18px"></i></button>
        </fieldset>

        <fieldset class="fieldset-inline">
          <button mat-button (click)="toggleTendenciaExponencial()"><i><img src="assets/grafico.png" width="18px"></i></button>
          <button mat-button (click)="toggleTendenciaArithmetic()"><i><img src="assets/crescimento.png" width="18px"></i></button>
          <button mat-button (click)="toggleTendenciaLogarithm()"><i><img src="assets/outlier.png" width="18px"></i></button>
        </fieldset>
      </fieldset>
      </div>
    </fieldset>

    <fieldset class="right-fieldset">
      <legend>O que são os dados de ranking</legend>
      <div class="text-container">
        <app-explanation-rankings></app-explanation-rankings>
      </div>

    </fieldset>
  </div>
</div>
