.container-fluid {
  max-height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.chart-container {
  width: 100%;
  height:100%;
}

#canvas {
  width: 100%;
  height:100%;
}

.center-fieldset {
  position: relative;
  flex: 1;
  max-width: 60vw;
  max-height:80vh;
  margin: 0 0 0 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ebe0e0;
}

.side-nav {
  width: 80px;
  padding: 20px;
  box-sizing: border-box;
}

.dot {
  position: absolute;
  top: 2px;
  right: 1px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  visibility: hidden;
}

.clicked .dot {
  visibility: visible;
}


.mat-mdc-select {
  width: 100px;
  padding: 12px;
  margin: 0px;

}
.mat-mdc-option {
  padding-left: 3px;
  padding-right: 16px;
}


.mat-mdc-select-trigger {
  background-color: #f0f0f0;
  width: 100px;
}


.mat-mdc-select-value {
  color: #e9dddd;
  width: 100px;
}


.media-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 175%;
  height: 20%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}


.linhaTendenciaFormula-background {
  position: absolute;
  top: 0;
  left: 50px;
  max-width: 100%;
  height: 20%;
  z-index: -1;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}


.linhadetendenciaaritemtica-background{
  position: absolute;
  top: 0;
  left: 50px;
  width: 100%;
  height: 50%;
  z-index: -1;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}

.linhadetendencialogaritmica-background{
  position: absolute;
  top: 0;
  left: 50px;
  max-width: 110%;
  height: 80%;
  z-index: -1;
  display: flex;
 justify-content: left;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}

.outlierInputValue-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 180%;
  height: 40%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}

@media (max-width: 600px) {
  td{
     font-size: 7px;
   }
 }

