
.container-fluid {
  max-height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
 
}

.chart-container {
  width: 100%;
  height:100%;
}

#canvas {
  width: 100%;
  height:100%;
}


.center-fieldset {
  position: relative;
  flex: 1;
  margin-right: 20px;

  height: 80vh;
  max-width: calc(80vw - 20px);
  max-height:calc(70vh - 55px);  
 
  overflow-y: hidden;
  overflow-x: hidden;

}



 .right-fieldset {
  flex: 1;
  border: 0px solid #4f4d4d;
  padding: 10px;
  margin-right: 20px;
  text-align: left;
  max-width: calc(80vw - 10px);
  max-height:calc(80vh - 30px);  

  overflow-y: auto;
  overflow-x: hidden; 
}


fieldset{
  border: 1px solid #ebe0e0;
  padding: 2px;
  margin: 2px;
}

.right-fieldset legend {
  text-align: center;
  padding: 5px;
}

.side-nav {
  width: 80px;
  padding: 0px;
  box-sizing: border-box;
}




legend{
  font-size: 10px;
  margin:0px;
  padding: 0px;
}

.fieldset-inline {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}

 .dot {
  position: absolute;
  top: 2px;
  right: 1px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  visibility: hidden;
}

.clicked .dot {
  visibility: visible;
}


.mat-mdc-select {
  width: 100px;
  padding: 12px;
  margin: 0px;

}
.mat-mdc-option {
  padding-left: 3px;
  padding-right: 16px;
}


.mat-mdc-select-trigger {
  background-color: #f0f0f0;

  width: 100px;
}


.mat-mdc-select-value {
  color: #e9dddd;
  width: 100px;
}


.media-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 175%;
  height: 20%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}


.linhaTendenciaFormula-background {
  position: absolute;
  top: 0;
  left: 30px;
  max-width: 100%;
  height: 20%;
  z-index: -1;
  display: flex;
  justify-content: left;
  align-items: center; 
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}


.linhadetendenciaaritemtica-background{
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
  height: 50%;
  z-index: -1;
  display: flex;
  justify-content: left;
  align-items: center; 
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}

.linhadetendencialogaritmica-background{
  position: absolute;
  top: 0;
  left: 30px;
  max-width: 100%;
  height: 80%;
  z-index: -1;
  display: flex;
 justify-content: left;
  align-items: center; 
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);
}


.outlierInputValue-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 178%;
  height: 40%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgba(161, 149, 149, 0);

}




@media only screen and (max-width: 600px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .right-fieldset {   
    width: 100%;
    height: 100%;
    max-height: auto;
  
    overflow-y: hidden;
    overflow-x: hidden;
  
  }
  .center-fieldset {
    width: 100vw;
    height: 100vh;
  }
  
  .right-fieldset {
    order: 2; 
  }

  
}

