

.bottom-container {
  width: 80%;
  height: 5px;
  margin-top: 0;
  border-radius: 0%;
}
.chart-container {
  width: 100%;
  height: auto;
}

#canvas {
  width: 100%;
  height: auto;
}

.modal-content {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.modal-dialog {
  border: 0px !important;
}


.left-fieldset {
  flex:2;
  margin-right: 20px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.right-fieldset {
  flex: 2;
  border: 1px solid #ebe0e0;
  padding: 10px;
  margin-right: 20px;
  text-align: left;
  max-width: 50vw;
  max-height: 70vh;
  overflow: auto;
}


fieldset{
  border: 1px solid #ebe0e0;
  padding: 2px;
  margin: 2px;
}

.right-fieldset legend {
  text-align: center;
  padding: 5px;
}

.side-nav {
  width: 80px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-button {
  display: block;
  width: 15px;
  margin-bottom: 0px;
}
.button{
  border-radius: 0%;
}


legend{
  font-size: 10px;
  margin:0px;
  padding: 0px;
}

.fieldset-inline {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}

.fieldset-container {
  display: flex;
}














/*
**************************************************************/

