<div class="text-container">
  <h4>Oque é correlação</h4>

<p>
  A correlação entre duas variáveis é uma medida estatística que descreve a relação estatística entre elas.
  Em outras palavras, a correlação avalia a tendência de mudança em uma variável em relação à mudança na
  outra. Existem diferentes tipos de correlação, sendo a mais comum a correlação linear.
  <br>
</p>
<p>
  A correlação é frequentemente expressa por um coeficiente de correlação, como o coeficiente de correlação
  de Pearson. Este coeficiente varia de -1 a 1, indicando a direção e a força da relação entre as variáveis:
</p>
<br>
<ul>
  <li><strong>Correlação Positiva (r > 0):</strong> 
    <p>
    Indica que à medida que uma variável aumenta, a outra
    também tende a aumentar. Quanto mais próximo de +1, mais forte é a correlação positiva.
  </p>
  <br>
  </li>
  <li><strong>Correlação Negativa (r < 0):</strong> 
    <p>
      Indica que à medida que uma variável aumenta, a outra
        tende a diminuir. Quanto mais próximo de -1, mais forte é a correlação negativa.
      </p>
      <br>
    </li>
  <li><strong>Correlação Nula (r = 0):</strong> 
    <p>
      Indica ausência de correlação linear entre as variáveis. No
    entanto, é importante notar que a falta de correlação linear não implica necessariamente na ausência de
    relação entre as variáveis.
  </p>
  <br>
</li>
</ul>
<p>
  É importante destacar que correlação não implica causalidade. Dois eventos podem estar correlacionados, mas
  isso não significa que um cause o outro. A correlação apenas indica a relação estatística entre as
  variáveis, não necessariamente uma relação de causa e efeito.
</p>
<br>
<p>
  Para calcular a correlação, são utilizadas fórmulas específicas, sendo a fórmula de Pearson uma das mais
  amplamente utilizadas para variáveis com distribuição linear. Outros métodos, como a correlação de Spearman
  ou a correlação de Kendall, são aplicáveis a dados que não seguem uma distribuição linear.</p>
<p>
  <br>
  Em resumo, a correlação entre duas variáveis é uma medida estatística que avalia a relação entre elas,
  ajudando a entender como elas variam conjuntamente. Essa análise é crucial em diversas áreas, como
  estatística, ciências sociais, economia e muitas outras, para identificar padrões e compreender a
  interconexão entre diferentes fenômenos.
</p>
<br>
<div id="correlation"> </div>
<br>
</div>