.color_blue{
  color: #0d6efd;
}
.larger-button {
  width: 40px;
  padding: 0px;
  padding-left: 5px;
  margin: 5px;
}
.mat-sidenav-container {
  height: 100vh;
  overflow: hidden;
}
.mat-sidenav {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
fieldset{
  border: 1px solid #ebe0e0;
  padding: 5px;
  margin: 5px;
}
