<mat-sidenav-container>
  <mat-sidenav-content>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/lunations">
        <i class="fa-regular fa-moon fa-ml"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/ranking">
        <i class="fa-solid fa-ranking-star fa-ml"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/correl">
        <span > <img src="assets/diagrama-de-relacao.png" width="20px"></span>
      </button>
    </div>
     <div>
      <button mat-button class="larger-button" mat-button routerLink="/ranking">
        <i class="fa-solid fa-download fa-ml"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/maps">
        <i class="fa-solid fa-map-location-dot fa-ml" ></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/pg-ranking">
        <span > <img src="assets/simbolo-matematico-da-funcao.png" width="18px"></span>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/onion">
        <span > <img src="assets/onion.png" width="18px"></span>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/pg-config">
        <span > <img src="assets/configuracoes.png" width="18px"></span>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
