<mat-sidenav-container>
  <mat-sidenav-content>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/lunations">
        <i class="fa-regular fa-moon fa-xl"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/ranking">
        <i class="fa-solid fa-ranking-star fa-xl"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/correl">
        <span > <img src="assets/diagrama-de-relacao.png" width="25px"></span>
      </button>
    </div>
     <div>
      <button mat-button class="larger-button" mat-button routerLink="/ranking">
        <i class="fa-solid fa-download fa-xl"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/maps">
        <i class="fa-solid fa-map-location-dot fa-xl"></i>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/maps">
        <span > <img src="assets/simbolo-matematico-da-funcao.png" width="25px"></span>
      </button>
    </div>
    <div>
      <button mat-button class="larger-button" mat-button routerLink="/onion">
        <span > <img src="assets/tendencias-de-mercado.png" width="25px"></span>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
