<div class="row">
  <!-- Linha 2 Coluna 3 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência Potencia</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="espessura">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 1 Coluna 2 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência Exponencial</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="espessura">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 2 Coluna 3 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência logarítmica</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="espessura">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência linear</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="espessura">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Linha 2 Coluna 1 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tabela de correlação</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>Mínimo</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Máximo</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Filtro</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td><select>
                <option value=">">menor que</option>
                <option value="<">maior que</option>
                <option value="<=">menor ou igual</option>
                <option value=">=">maior ou igual</option>
              </select></td>
            <td><input type="number"></td>
          </tr>
          <tr>
            <td><select>
                <option value=">">menor que</option>
                <option value="<">maior que</option>
                <option value="<=">menor ou igual</option>
                <option value=">=">maior ou igual</option>
              </select></td>
            <td><input type="number"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 2 Coluna 2 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Gráfico principal</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>barras</td>
            <td><input type="color" [(ngModel)]="bar"></td>
          </tr>
          <tr>
            <td>Bordas</td>
            <td><input type="color" [(ngModel)]="bordeBar"></td>
          </tr>
          <tr>
            <td>Tipo</td>
            <td>
              <select [(ngModel)]="tipoGraficoSelecionado">
                <option value="" disabled selected>Selecione</option>
                <option value="line">line</option>
                <option value="bubble">bubble</option>
                <option value="bar">bar</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 2 Coluna 3 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Outlier</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>Desvio máximo</td>
            <td><input type="number"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
      </div>
    </div>
  </div>

  <!-- Linha 2 Coluna 4 -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Media aritmetica</h5>
    <table class="m-0">
      <tbody>
        <tr>
          <td>pontos</td>
          <td><input type="color" [(ngModel)]="bar"></td>
        </tr>
        <tr>
          <td>Tamanho</td>
          <td>
            <select [(ngModel)]="espessura">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <button mat-button><img src="assets/reset.png" width="25px"></button>
      <button mat-button (click)="saveConfigMain()"><img src="assets/save.png" width="25px"></button>
    </div>
  </div>
</div>
