<div class="row">
  <!-- Linha 2 Coluna 3 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência Potencia</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="powerTrendLineColor"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="powerTrendLineWidth">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigPowerTrendLine()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigPowerTrendLine()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 1 Coluna 2 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência Exponencial</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="exponentialTrendLineColor"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="exponentialTrendLineWidth">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigExponentialTrendLine()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigExponentialTrendLine()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 2 Coluna 3 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência logarítmica</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="logarithmicTrendLineColor"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="logarithmicTrendLineWidth">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigLogarithmicTrendLine()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigLogarithmicTrendLine()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Linha de tendência linear</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>pontos</td>
            <td><input type="color" [(ngModel)]="LinearTrendLineColor"></td>
          </tr>
          <tr>
            <td>Tamanho</td>
            <td>
              <select [(ngModel)]="powerTrendLineWidth">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigLinearTrendLine()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigLinearTrendLine()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Linha 2 Coluna 1 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tabela de correlação</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>Mínimo</td>
            <td><input type="color" [(ngModel)]="correlationTableMinimumColor"></td>
          </tr>
          <tr>
            <td>Máximo</td>
            <td><input type="color" [(ngModel)]="correlationTableMaximumColor"></td>
          </tr>
          <tr>
            <td>Filtro</td>
            <td><input type="color" [(ngModel)]="correlationTableFilterColor"></td>
          </tr>
          <tr>
            <td><select>
                <option value=">">menor que</option>
                <option value="<">maior que</option>
                <option value="<=">menor ou igual</option>
                <option value=">=">maior ou igual</option>
              </select></td>
            <td><input type="number"  [(ngModel)]="correlationTableFilterValueMinimum"></td>
          </tr>
          <tr>
            <td><select>
                <option value=">">menor que</option>
                <option value="<">maior que</option>
                <option value="<=">menor ou igual</option>
                <option value=">=">maior ou igual</option>
              </select></td>
            <td><input type="number"  [(ngModel)]="CorrelationTableFilterValueMaximum"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigCorrelationTable()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigCorrelationTable()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 2 Coluna 2 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Gráfico principal</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>barras</td>
            <td><input type="color" [(ngModel)]="rankingChartBarColor"></td>
          </tr>
          <tr>
            <td>Bordas</td>
            <td><input type="color" [(ngModel)]="rankingChartBorderBarColor"></td>
          </tr>
          <tr>
            <td>Tipo</td>
            <td>
              <select [(ngModel)]="rankingTypeChart">
                <option value="" disabled selected>Selecione</option>
                <option value="line">line</option>
                <option value="bubble">bubble</option>
                <option value="bar">bar</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigChartMain()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigChartMain()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>
  <!-- Linha 2 Coluna 3 -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Outlier</h5>
      <table class="m-0">
        <tbody>
          <tr>
            <td>Desvio máximo</td>
            <td><input type="number" [(ngModel)]="outlierDeviantMaximumValue"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button mat-button (click)="restoreConfigOutlier()"><img src="assets/reset.png" width="25px"></button>
        <button mat-button (click)="saveConfigOutlier()"><img src="assets/salvar.png" width="25px"></button>
      </div>
    </div>
  </div>

  <!-- Linha 2 Coluna 4 -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Media aritmetica</h5>
    <table class="m-0">
      <tbody>
        <tr>
          <td>pontos</td>
          <td><input type="color" [(ngModel)]="meanAritmethicColor"></td>
        </tr>
        <tr>
          <td>Tamanho</td>
          <td>
            <select [(ngModel)]="meanAritmethicWidth">
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
              <option value=8>8</option>
              <option value=9>9</option>
              <option value=10>10</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <button mat-button (click)="restoreConfigMeanAritmethic()"><img src="assets/reset.png" width="25px"></button>
      <button mat-button (click)="saveConfigMeanAritmethic()"><img src="assets/salvar.png" width="25px"></button>
    </div>
  </div>
</div>
