@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;

}

body {

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1px;
  overflow: hidden;
}


.spadding {
  padding: 15px;
}

span.katex-html {
  display: none !important;
}

.custom-katex-font-size {
  font-size: 12px;
}




