<div class="container-fluid" style="max-height: 90vh;">
  <div class="row ">
    <fieldset>
      <button mat-button (click)="toggleSorted()" [class.clicked]="isSorted" matTooltip="Ordenar ">
        <span>
          <img src="assets/ordenar.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="updateDataSource(phase.NewMoon)" [class.clicked]="activeFlag.isNewMoonActive" matTooltip="Lua Nova">
        <span>
          <img src="assets/lua-nova.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="updateDataSource(phase.CrescentMoon)" [class.clicked]="activeFlag.isCrescentMoonActive" matTooltip="Crescente">
        <span>
          <img src="assets/lua-crescente.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="updateDataSource(phase.QuarterCrescentMoon)"  [class.clicked]="activeFlag.isQuarterCrescentMoonActive" matTooltip="Quarto Crescente">
        <span>
          <img src="assets/lua-quarto-crescente.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="updateDataSource(phase.GibbousCrescentMoon)"  [class.clicked]="activeFlag.isGibbousCrescentMoonActive" matTooltip="Gibosa crescente">
        <span>
          <img src="assets/lua-gibosa-crescente.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="updateDataSource(phase.FullMoon)" [class.clicked]="activeFlag.isFullMoonActive"  matTooltip="Lua Cheia">
        <span>
          <img src="assets/lua-cheia.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>

      <button mat-button (click)="updateDataSource(phase.GibbousWaningMoon)" [class.clicked]="activeFlag.isGibbousWaningMoonActive" matTooltip="Gibosa minguante">
        <span>
          <img src="assets/lua-gibosa-minguante.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="updateDataSource(phase.QuarterWaningMoon)" [class.clicked]="activeFlag.isQuarterWaningActive" matTooltip="Quarto minguante">
        <span>
          <img src="assets/lua-quarto-minguante.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>

      <button mat-button (click)="updateDataSource(phase.WaningMoon)" [class.clicked]="activeFlag.isWanningMoonActive"   matTooltip="Minguante">
        <span>
          <img src="assets/lua-minguante.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>
      <button mat-button (click)="toggleAvarege()" [class.clicked]="isAvaregeShow" matTooltip="Mostrar media">
        <span>
          <img src="assets/arithmetic-mean.png" width="25px">
          <span class="dot">
          </span>
        </span>
      </button>

      <mat-select [(ngModel)]="typeChart" (ngModelChange)="saveType($event)">
        <mat-option value="line">Line</mat-option>
        <mat-option value="bubble">Bubble</mat-option>
        <mat-option value="bar">Bar</mat-option>
      </mat-select>
    </fieldset>
  </div>

  <div class="row ">
    <div class="col">
      <fieldset class="center-fieldset">
        <p class="chart-container">
          <canvas id="canvas" width="350px" height="300px">{{chartMoon}}</canvas>
        </p>    
      </fieldset>
    </div>
  </div>