


<div class="container-fluid">
  <div class="row">

   

        <fieldset class="left-fieldset">
          <div class="cebola ">
            <div class="camada camada-1" ><span class="numero">1</span></div>
            <div class="camada camada-2"><span class="numero">2</span></div>
            <div class="camada camada-3"><span class="numero">3</span></div>
            <div class="camada camada-4"><span class="numero">4</span></div>
            <div class="camada camada-5"><span class="numero">5</span></div>
            <div class="camada camada-6"><span class="numero">6</span></div>
            <div class="camada camada-7"><span class="numero">7</span></div>
            <div class="camada camada-8"><span class="numero">8</span></div>
            <div class="camada camada-9"><span class="numero">9</span></div>
            <!-- <div class="camada camada-10"><span class="numero">10</span></div>            -->
          </div>   
          
          
          <fieldset class="fieldset-inline">
           
            <button class="button-onion">
              <i> <img src="assets/numero-um.png" width="15px"></i>
            </button>
            <button  class="button-onion">
              <i> <img src="assets/numero-dois.png" width="15px"></i>
            </button>
            <button  class="button-onion" >
              <span> <img src="assets/numero-tres.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-quatro.png"width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-cinco.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-seis.png" width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-sete.png" width="15px"></span>
            </button>
            <button class="button-onion">
              <i> <img src="assets/numero-um.png" width="15px"></i>
            </button>
            <button  class="button-onion">
              <i> <img src="assets/numero-dois.png" width="15px"></i>
            </button>
            <button  class="button-onion" >
              <span> <img src="assets/numero-tres.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-quatro.png"width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-cinco.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-seis.png" width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-sete.png" width="15px"></span>
            </button>
            <button class="button-onion">
              <i> <img src="assets/numero-um.png" width="15px"></i>
            </button>
            <button  class="button-onion">
              <i> <img src="assets/numero-dois.png" width="15px"></i>
            </button>
            <button  class="button-onion" >
              <span> <img src="assets/numero-tres.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-quatro.png"width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-cinco.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-seis.png" width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-sete.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-quatro.png"width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-cinco.png" width="15px"></span>
            </button>
            <button  class="button-onion">
              <span> <img src="assets/numero-seis.png" width="15px"></span>
            </button>
            <button class="button-onion">
              <span> <img src="assets/numero-sete.png" width="15px"></span>
            </button>
          
           
          </fieldset>
        
         
      
        </fieldset>
    
      <fieldset class="right-fieldset">    
        
       
     
       
      </fieldset>
   
  </div>
</div>